<!DOCTYPE html>
<html>

<head>
    <title>Ifc2Data</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style123.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet"> -->

</head>

<body id="override">
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"> IFC2Data </a>
        </div>

        <div class="menu">
            <a href="mailto: brunodekadencija@gmail.com"><img class="menu-link"
                    src="/WebApp/static/img/email.png" /></a>
            <a href="https://www.linkedin.com/in/borna-molnar-erhati%C4%87/?originalSubdomain=at"><img class="menu-link"
                    src="/WebApp/static/img/linkedin.png" /></a>
            <a href="https://github.com/Borna07"><img class="menu-link" src="/WebApp/static/img/github.png" /></a>
        </div>

    </header>
    <div id="out">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div class="page-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>

<table class="wrapper">
    <tr>
        <td>
            <div class="content">
            </div>
        </td>
    </tr>
</table>