{% extends 'Ifc2Data/base.html' %}
{% block content %}
{% load static %}

<h1 class="download-title">Project information</h1>

  <div class="container-main">
    <div class="container-download content-block download">

      <div>

    <p>Name : {{ifc.given_name}}</p>

    <p>Organization : {{ifc.organization}}</p>

    <p>Author : {{ifc.author}}</p>
    <p>Project Name : {{ifc.project_name}}</p>

    <p>Created : {{ifc.time_stamp}}</p>

    <p>IFC Schema Version : {{ifc.schema_identifiers}}</p>


    <p>Authoring Software : {{ifc.software}}</p>


  </div>
  <div>


    <form action="" name="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="submit-button button-download" type="submit" value="Download">
    </form>

  </div>
</div>
</div>
    <script src="{% static 'js/radio.js' %}"></script>


    <p><a class="return-download" href="{% url 'index' %}">Return to home</a></p>


{% endblock %}