{% extends 'Ifc2Data/base.html' %}
{% block content %}
{% load static %}



<p>Name : {{ifc.given_name}}</p>

<p>Organization : {{ifc.organization}}</p>

<p>Author : {{ifc.author}}</p>
<p>Project Name : {{ifc.project_name}}</p>

<p>Created : {{ifc.time_stamp}}</p>

<p>IFC Schema Version : {{ifc.schema_identifiers}}</p>


<p>Authoring Software : {{ifc.software}}</p>





<form action="" name="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Download">
 </form>


<script src="{% static 'js/radio.js' %}"></script>


  <p><a href="{% url 'index' %}">Return to home</a></p>
{% endblock %}