{% extends 'Ifc2Data/base.html' %}

{% block content %}


<div class="container-main">


  <div class="content-block">
    <div class="text-block">
      <p>
        Welcome to Ifc2Data, the open-source web application that enables you to extract the property set (and
        more) data out of a .ifc modell with one sweep.
      </p>
      <p>
        The data can be extracted in form of a Excel file or a CSV file.
        Additionaly it enables you to extract the uniqe values for all the parameters too.
      </p>
      <p>
        Happy hunting!
      </p>
    </div>
    <div class="button-block">
      <button class="button-primary  submit-button">
        <a href="{% url 'model_upload' %}" class="">Upload your IFC Model</a>
      </button>
    </div>
  </div>
</div>



{% endblock %}