
/*All HTML elements can be considered as boxes. In CSS, the term "box model" is used when talking about design and layout.

The CSS box model is essentially a box that wraps around every HTML element. It consists of: margins, borders, padding, and the actual content. */

h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: blue;
}


.nextto{
    margin: auto;
  }

  td{
    height: 200px;
    padding: 100px;
    border: 6px solid white;
  }

.jumbotron{
    border: rgb(38, 70, 83);
  
    width: 150px;

    height: 400px;

    background-color:  rgb(38, 70, 83);
  
    /*Top,Right, Bottom, Left*/
    margin: 10px 10px 0px 20%;
  
    
  }
  
  #two{
    border: rgb(42, 157, 143);
  
    width: 150px;

    height: 400px;

    background-color: rgb(42, 157, 143);
  
    /*Top,Right, Bottom, Left*/
  
    text-align: center;
  }
  #three{
    border: rgb(233, 196, 106);
  
    width: 150px;

    height: 400px;

    background-color:  rgb(233, 196, 106);
  
    /*Top,Right, Bottom, Left*/
  
    text-align: center;
  }
  #four{
    border: rgb(244, 162, 97);
  
    width: 150px;

    height: 400px;

    background-color:  rgb(244, 162, 97);
  
    /*Top,Right, Bottom, Left*/
  
    text-align: center;
  }
  #five{
    border: rgb(231, 111, 81);
  
    width: 150px;

    height: 400px;

    background-color:  rgb(231, 111, 81);
  
    /*Top,Right, Bottom, Left*/
  
    text-align: center;
  }
  